body {
   background-color: aquamarine;
}


.name {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: black;
    font-size: xx-large;
    color: blue;
}

/* + e - */

.symbols {

    width: 50px;

}

.symbols:hover {
    cursor: pointer;
    border: solid blue 3px;

}


/* contatore */

#result {

    border: solid silver 1px;
    padding: 5px;
    background-color: white;
    color: blue;
    width: 50px;
    font-size: xx-large;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#result2 {
    border: solid silver 1px;
    padding: 5px;
    background-color: white;
    color: blue;
    width: 50px;
    font-size: xx-large;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

/* tasto reset*/

.reset {
    display: flex;
    justify-content: center;
    opacity: 0.8;

}

.reset :hover {
    cursor: pointer;
    border: solid blue 3px
}

.border {
    border-radius: 70% 70% 70% 70%;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

/* tasti di input*/

.container input {
    font-family: consolas;
    font-size: xx-large;
}


/* copyright */

.footer {
    display: flex;
    justify-content: flex-start;
    color: black;
}

.tasti{
    background-color: blue;
    color: white;
}